:root {
  --primary: #1BDAA9;
  --dark: #1E1E1E;
  --secondary: #242424;
  --white: #ffffff;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  scroll-behavior: smooth;
  height:100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

button{
  border:none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

.nav{
  margin: auto;
}

button:hover,
.Btn:hover {
    cursor: pointer;
}

#header{
  background-color: #000000;
	background-image: url("../assets/background.png");
  height: 100%;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.connect_flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}

.nav_{
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.nav-link{
  color: var(--white);
  font-size: 20px;
}

.nav-link:hover{
  color: var(--primary);
}
.connect_img {
    max-width: 30px;
}

.nav-btn,.nav-btn:hover{
    padding: 8px 16px;
    border-radius: 50px;
    color: #000000;
    background-color: var(--primary);
}
.nav-btn span{
  font-size: 14px;
}


input{
  background: #DBDBDB;
  width: 440px;
  height: 48px;
  border-radius: 12px;
  border: 0;
  padding-left: 37px;
}

::placeholder{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  opacity: 0.9;
}

.intro_flex > * {
  flex-basis: 50%;
}

.intro_title .span1{
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  color: var(--white)
}

.intro_title .span2{
  font-style: normal;
  font-weight: bolder;
  font-size: 120px;
  color: var(--primary);
  margin-top: -50px;
}


.beta_now {
  padding: 8px 5px;
  border-radius: 12px;
  background-color: var(--primary);
  color: var(--white);
  width: 311px;
  white-space: nowrap;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #363636;
}

.beta_now span{
  padding-right: 20px;
}

.hero_text{
  padding-top: 45px;
  width: 565px;
  height: 115px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}

.main{
	background-image: url("../assets/background.png"), linear-gradient(var(--primary), var(--dark));
  padding-top: 45px;
  text-align: center;
}

.titles{
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  color: var(--primary)
}

.mint_content{
  background-color: var(--primary);
  opacity: 0.5;
  border-radius: 16px;
  margin-top: 31px;
}

.mint_content img{
  max-width: 972.06px;
  padding: 25px 0 25px 0;
}

.about_container{
  padding-top: 174px;
}

.about_container p{
  padding-top: 35px;
  max-width: 1100px;
  height: 240px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: var(--white);
  margin: auto;
}

.roadmap_img{
  padding-top: 35px;
}

.roadmap_img img{
  max-width: 1238px;
}

.team_container{
  padding-top: 80px;
}

.team_content{
  background: var(--primary);
  opacity: 0.6;
  border-radius: 16px;
  margin-top: 40px;
  padding: 45px 80px 56px 80px;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.team_content img{
  border-radius:50%;
  max-width: 230px;  
  display: block;     
  padding-bottom: 20px; 
}

.team_flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.team_flex span{
  font-family: 'Press Start 2P';
}

.team_flex p{
  font-family: 'Poppins';
}

.content2{
  padding-top: 45px;
}

.faq_container{
  padding-top: 113px;
}

.faq_container p{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #F4F4F4;
}

.faq_content{
  padding: 66px 0 69px 0;
}

details{
  max-width: 1059px;
  background: var(--primary);
  opacity: 0.6;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 34px;
  padding: 20px 75px 0 33px;
}

details:last-child{
  margin-bottom: 0;
}

details summary{
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #242424;
}


details div{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 0.8;
}

summary {
  list-style: none;
  display: flex;
  justify-content: space-between;  
  transition: height 1s ease;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after{
  content: "\2039";
  transform: rotate(-90deg);
}

details[open] summary {
    margin-bottom: 9px;
}

details[open] summary:after{
  content: "\2039";
  transform: rotate(-90deg);
}

details[open] div{
  padding: .5em 1em;
}

footer {
  padding-left: 79px;
  display: flex;
  justify-content: space-between;
  padding-right: 260px;
  padding-bottom: 28px;
}

footer p{
  max-width: 389px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: var(--white);
  padding-left: 54px;
}

footer img{
  max-width: 144px;
  vertical-align: top;
}

footer .socials{
  width: 202px;
  filter: blur(0.5px) drop-shadow(2px 2px 2px #1BDAA9);
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  margin:auto;
}

footer div:first-child {
  max-width: 587px;
}

footer div{
  display: inline-block;
}

footer div:first-child div:nth-child(2){
  max-width: 389px;
  padding-top: 10px;
  padding-right: 0;
}

.footer_title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary);
}

footer div:nth-child(2) ul{
  margin-bottom: 0;
  text-align: left;
}

.footer-link{
  color: var(--white);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.footer_link{
  display: flex;
  justify-content: space-between;
  width: 278px;
}

footer div:nth-child(2) div{
  text-align: left;
  display: inline-block;
}

.v_line{
  border-left: 0.5px dashed #D5D5D5;
  height: 162px;
  width: 2px;
}

.h_line{
  border-bottom: 0.5px dashed #D5D5D5;
  width: 792px;
  margin: auto;
}

.last_text{
  padding: 17px 0 17px 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}

.last_text span{
  color: var(--primary);
}





